#photo-card #top,
#bottom {
  width: 100%;
  margin-top: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

#photo-card-info {
  width: 90%;
}

#photo-card #original,
#sticker,
#result {
  width: 100%;
  border-radius: 1.5rem;
  margin-top: 1.25em;
}

#stickerTotalWrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#downloadIcon {
  width: 1.25em;
  height: 1.25em;
  margin-left: auto;
}

#cameraIcon {
  width: 2.5em;
  height: 2.5em;
  padding-top: 15px;
}

#nextBtn {
  button {
    font-size: 1.03rem;
    margin-bottom: 0.5rem;
  }
}

.celub-sticker-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius:1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



.celub-setting-photo-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.celub-setting-photo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.celub-setting-photo-close {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.celub-photo-modalTitle{
 display:block;
 max-height: 20rem;
}
.celub-sticker-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 15rem;
}

.celub-photo-bgModal{
  top: 10%;
}

.photo-img:hover {
  box-shadow: 0 0 10px 2px rgba(1, 145, 120, 0.7);
}