.deposit-content-box {
  text-align: left;
  margin-bottom: 2.5rem;
  padding-left: 0.6rem;
  font-weight: bold;
}

#deposit-basicBtn {
  width: 100% !important;
  height: 2.7rem;
  background-color: #1ea698;
  border: 0;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  padding-top: 3%;
  padding-bottom: 3%;
}

#deposit-basicBtn-fixed {
  position: fixed;
  bottom: 20px; /* 화면 하단과의 거리 조정 */
  left: 50%; /* 화면 가운데 정렬을 위해 50% 위치로 설정 */
  transform: translateX(-50%); /* 가운데 정렬을 위해 이동 */
  width: 90%; /* 너비 조정 */
  height: 2.7rem;
  background-color: #1ea698;
  border: 0;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  padding-top: 3%;
  padding-bottom: 3%;
}

#simpleauth {
  position: fixed;
  bottom: 20px; /* 화면 하단과의 거리 조정 */
  left: 50%; /* 화면 가운데 정렬을 위해 50% 위치로 설정 */
  transform: translateX(-50%); /* 가운데 정렬을 위해 이동 */
  width: 90%; /* 너비 조정 */
  height: 2.7rem;
  background-color: #1ea698;
  border: 0;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  padding-top: 3%;
  padding-bottom: 3%;
}

#deposit-basicBtn:disabled {
  background-color: #cfcfcf;
}

#deposit-basicBtn:disabled {
  background-color: #cfcfcf;
}

.deposit-input-container {
  margin-top: 1rem;
}

.deposit-input-field {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: none;
  border-bottom: 0.05rem solid #f0efef;
  box-sizing: border-box;
  color: #777777;
  background-color: transparent;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease; /* 배경색 변경 트랜지션 */
}

.deposit-input-label {
  padding-left: 0.6rem;
  margin-bottom: 0.3rem;
  display: block;
  text-align: left;
}

.text-color-change {
  color: #1ea698; /* 원하는 글자 색상 설정 */
  font-weight: bold;
}

.custom-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-input-field {
  flex: 1;
  width: calc(100% - 2.5rem); /* 40px를 rem 단위로 변환 */
  padding-right: 7.1875rem; /* 115px를 rem 단위로 변환 */
}

.custom-calendar-icon {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  /* z-index: 2; 이미지 위치 조정 및 z-index 설정 */
  width: 1.5rem; /* 아이콘 크기 조정 */
  height: 1.5rem; /* 아이콘 크기 조정 */
}

.custom-datepicker {
  width: 15.625rem; /* 250px를 rem 단위로 변환 */
}

.date-picker-container {
  display: flex;
  align-items: center;
  position: relative;
}

.date-picker-input-field {
  padding-right: "2rem";
}

.date-picker-label {
  margin-bottom: 0.3125rem; /* 5px를 rem 단위로 변환 */
}

.date-picker-wrapper {
  position: relative;
  z-index: 1;
}

.react-datepicker__triangle {
  display: none !important;
}

.deposit-creation {
  display: flex;
  flex-direction: column;
  min-height: 91vh; /* 전체 높이를 차지 */
  flex: 1;
  margin-top: 3.5rem;
}

.button-container {
  display: flex;
  justify-content: center; /* 버튼을 중앙에 배치 */
  padding: 1rem; /* 버튼 주변에 패딩 추가 */
}

.deposit-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1.25rem; /* 20px를 rem 단위로 변환 */
}

/* .input-all-container {
  padding: 1rem;
} */

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.image1-container {
  display: flex;
  justify-content: center;
}

.image2-container {
  display: flex;
  justify-content: center;
}

.image1-container {
  img {
    width: 30%;
    height: auto;
  }
}

.image2-container {
  img {
    width: 60%;
    height: auto;
  }
}

.button2-container {
  background-color: #ffffff;
  border: 0;
}

.deposit-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.deposit-modal-content {
  background-color: white;
  padding: 1.25rem; /* 20px를 rem 단위로 변환 */
  border-radius: 0.3125rem; /* 5px를 rem 단위로 변환 */
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1); /* 10px를 rem 단위로 변환 */
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close {
  position: absolute;
  top: 0.625rem; /* 10px를 rem 단위로 변환 */
  right: 0.9375rem; /* 15px를 rem 단위로 변환 */
  font-size: 1.5rem; /* 24px를 rem 단위로 변환 */
  cursor: pointer;
}

/* user agree */

.legal-notice-box {
  border: 0.0625rem solid #d5d8d8; /* 1px를 rem 단위로 변환 */
  margin-bottom: 1.4rem;
}

.legal-notice-header {
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #d5d8d8; /* 1px를 rem 단위로 변환 */
  padding: 0.625rem; /* 10px를 rem 단위로 변환 */
}

.deposit-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  outline: none;

  &:checked {
    background-color: #1ea698; // 체크되었을 때 배경색
    border: 1px solid #1ea698; // 체크되었을 때 테두리 색
  }

  &:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.deposit-checkbox-label {
  margin: 0; /* 라벨의 기본 여백 제거 */
}

.legal-notice-content {
  padding: 0.625rem; /* 10px를 rem 단위로 변환 */
  color: #535353;
}

.useragree_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* 텍스트를 가운데 정렬 */
  color: #535353;
  padding-left: 3%;
  padding-right: 3%;
}

.deposit-black-box {
  background-color: #1ea698;
  border: 0;
  border-radius: 0.5rem;
  color: azure;
  cursor: pointer;
  padding: 3%; /* 상하좌우 모두 3%의 패딩 */
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  text-align: left;
  display: flex; /* Flexbox 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: space-between; /* 아이템 사이에 공간을 배분 */
}

.deposit-checkbox {
  margin-right: 0.625rem; /* 10px를 rem 단위로 변환 */
}

.arrow-image {
  margin-left: auto; /* 화살표 이미지를 오른쪽으로 정렬 */
}

.deposit-checkbox-text {
  display: flex; /* Flexbox 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: space-between; /* 아이템 사이에 공간을 배분 */
}

.deposit-gray-box {
  background-color: #f1f0f1;
  border: 0;
  border-radius: 0.5rem;
  color: #848484;
  cursor: pointer;
  padding: 3%; /* 상하좌우 모두 3%의 패딩 */
  text-align: left;
  display: flex; /* Flexbox 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 1.4rem;
}

.deposit-gray-box {
  span {
    color: #0c0f12;
    margin-left: 1rem;
  }
}

.deposit-bottom {
  margin-bottom: 1.4rem;
}

/* DepostiComplete */

.deposit-complete-label {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 0.625rem; /* 이미지와 텍스트 사이에 여백 추가 */
}

.deposit-create-complete-img {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem; /* 이미지와 텍스트 사이에 여백 추가 */
}

.notice-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.0625rem solid #d5d8d8; /* 1px를 rem 단위로 변환 */
}

.notice-header2 {
  border-bottom: 0.0625rem solid #d5d8d8; /* 위쪽 부분에 밑줄 추가 */
}

.to-main {
  display: flex; /* Flexbox 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #242635;
  border: 0.0625rem solid #d5d8d8; /* 전체 박스에 테두리 추가 */
  cursor: pointer;
  padding: 4%; /* 상하좌우 모두 3%의 패딩 */
  margin: 1.875rem 1.875rem;
  width: 30%; /* 너비 설정 */
}

.notice-final {
  display: flex; /* Flexbox 적용 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center;
  flex-direction: column;
}

.deposit-notice_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* 텍스트를 가운데 정렬 */
  color: #242635;
  padding-left: 3%;
  padding-right: 3%;
}

.camera-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  //overflow: hidden;

  .camera-preview {
    position: relative;
    width: 100%;
    max-width: 25rem;
    aspect-ratio: 8.6 / 5.4; /* 민증 사진 비율 */
  }

  video {
    width: 100%;
    height: 100%;
    overflow: clip;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .video-element {
    width: 100%;
    height: 100%;
    object-fit: cover; // 비율을 유지하면서 비디오를 채움
  }

  .deposit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.125rem solid #fff;
    box-sizing: border-box;
  }

  .capture-button {
    position: relative;
    margin-top: 1.25rem;
    padding: 1.25rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .capture-button::before {
    content: "";
    width: 1.25rem; /* 작은 동그라미의 크기 */
    height: 1.25rem;
    background-color: white;
    border-radius: 100%;
  }

  .ocr-text-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #3498db;
    text-align: center;
  }

  .ocr-text {
    margin-top: 1rem;
    color: #3498db;
  }
}

.ocr_btn1 {
  width: 45% !important;
  height: 2.7rem;
  background-color: #1ea698;
  border: 0;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 7%;
  margin-top: 7%;
}

.ocr_btn2 {
  width: 45% !important;
  height: 2.7rem;
  background-color: #cfcfcf;
  border: 0;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 7%;
}

/// 기존 스타일 코드들 위에 추가
.captured-image {
  display: block; // 이미지가 블록 요소로 표시되도록 설정
  margin: 0 auto; // 이미지가 가운데 정렬되도록 설정 (선택 사항)
}
.captured-text {
  z-index: 999;
}
.id-card-guide {
  margin-top: 1rem;
  text-align: center;

  .guide-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .guide-container {
    display: flex;
    justify-content: space-between;
  }

  .guide-section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
      font-size: 1rem;
    }
  }

  .guide-text {
    margin-top: 1rem;
    text-align: left;

    p {
      font-size: 0.7em;
      margin: 0.5rem 0; // margin을 줄여서 설정
    }

    .highlight {
      color: #1ea698; // 강조할 색상 설정
      font-weight: bold; // 굵은 글씨 설정 (선택사항)
    }
  }
}

// 계좌상세
.depoitInfoContainer {
  width: 18rem;
  border: 0.1rem solid #ebecee;
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 1.5rem;

  .moaHanaTitle {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;

    img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }

    div {
      margin-top: 0.1rem;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }

  .moaHanaAccId {
    color: #a1a1a1;
    font-size: 1.2rem;
    text-align: left;
  }

  .memberListContainerHana {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .moaHanaAccBalance {
    margin: 0.3rem 0 0.4rem 0;
    text-align: right;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .moaHanaAccInfoBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;

    .moaclubHanaMainDeposit,
    .moaclubHanaMainWithdraw {
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;
      font-weight: 500;
      margin: 0 0.5rem;
    }

    .moaclubHanaMainDeposit {
      background-color: #eff0f4;
    }
    .moaclubHanaMainWithdraw {
      background-color: #1ea698;
      color: #ffffff;
    }
  }
}

.deposit-table {
  position: relative;
  top: 320px;
  height: calc(100vh - 344px);
  overflow-y: auto;
}

.depositAccInfoBtnContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 1.2rem;

  .qrIcon {
    width: 2em;
    height: 2em;
  }

  .depositWithdraw {
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    font-weight: 500;
    margin: 0 0.5rem;
  }

  .depositWithdraw {
    background-color: #1ea698;
    color: #ffffff;
  }
}

.depositBlueTxt {
  color: #0083d1;
}

.depositRedTxt {
  color: red;
}

.depositButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  width: 100%;
}
