.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  
    .animation {
      width: 300px;
      height: auto;
    }
  }
  