button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    right: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4.625em);
    background-color: #f9f9f9;

    /* header: 74px */

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .user-name {
        flex-grow: 1;
        margin-left: 1rem;
    }

    .menu-icon {
        // width: 30px;
        // height: 30px;
    }

    .account-container {
        padding: 1rem;
        margin-top: 5rem;
        overflow: hidden; /* 세로 스크롤 방지 */

    }

    .account-details {
        display: flex;
        align-items: flex-start;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        
    }

    .accountDetail {
        flex-grow: 1;
        text-align: left;
        margin-left: 2rem;
        // color: #666666;

    }

    .account-type,
    .account-number,
    .account-balance {
        margin: 0;
    }
    .accountBox{
        display: flex;
    }

    .send-button {
        margin-top: 10px;
        background-color: #e0f7fa;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .promotions {
        margin-top: 20px;
    }

    .promotion {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .promotion .promotionDetail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
      }
      
    .promotion .accountTitle {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0.5rem; /* Adjust as necessary */
        color: #666666;
      }

.promotion button {
  margin-top: 0.1rem; /* Adjust as necessary */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}
.promotion p {
    margin: 0;
  }
 
  @import "~slick-carousel/slick/slick.css";
  @import "~slick-carousel/slick/slick-theme.css";
  
  /* 여기에 다른 사용자 정의 스타일을 추가할 수 있습니다. */
  

}