@import '~swiper/swiper-bundle.css';
:root {
    --swiper-navigation-size: 0px;
  }
  
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  right: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 85%;
  margin: 0 auto;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 2rem);
  background-color: #f9f9f9;
  overflow: hidden;
  margin-bottom: 5rem;

  button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .user-name {
    flex-grow: 1;
    font-size: 1.17em;
    margin: 1rem 0 1rem -1rem;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%; /* 최대 너비를 지정하여 긴 이름도 잘리지 않도록 설정 */
  }

  .menu-icon {
    cursor: pointer;

    img {
      width: 1.875rem;
    }
  }

  .account-container {
    display: flex;
    justify-content: center; // 센터 정렬
    overflow: hidden;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    margin-bottom: 0.7rem;
  }

  .account-details {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    margin: 1rem;
  }

  .accountBox {
    flex: 0 0 auto;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    min-width: 21.25rem; // 1px->16rem
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1.5rem 0 1rem;
    // margin-right: 2.3rem;

    img {
      width: 2.25rem;
    }
  }

  .accountDetail {
    flex-grow: 1;
    text-align: left;
    margin-left: 1rem;
    padding: 1rem;
  }

  .account-type,
  .account-number,
  .account-balance {
    margin: 0;
    padding: 0.2rem;

    
  }

  .account-number {
    color: #c4c4c4;
  }

  .send-button {
    width: 55%;
    height: 2.7rem;
    background-color: #1ea698;
    border: 0;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    margin-top: 1rem; // px-> rem
    border: none;
    padding: 10px;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-left: 5rem;
    font-weight: bold;
  }

  .scrollbar {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 4px;
    background-color: #d9d9d9;
    border-radius: 2px;
    overflow: hidden;
  }

  .scrollbar-indicator {
    height: 100%;
    background-color: #ababab;
    transition: transform 0.3s ease-in-out;
  }

  .promotions {
    margin-top: 20px;
    width: 90%;
  }

  .promotion {
    background-color: #fff;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    animation: bell 3s infinite;
  }

  .promotion:nth-child(1) {
    animation-delay: 0s;
  }

  .promotion:nth-child(2) {
    animation-delay: 1.5s;
  }

  .promotion .promotionDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;

    button {
      font-weight: 400; // 굵기 테스트
      background: none;
      color: inherit;
      border: none;
      text-decoration: none;
    }
  }

  .promotion .promotionSubTitle {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #666666;
  }

  .promotion p {
    margin: 0;
  }

  .imgContainer {
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
    margin-left: 2.5rem;
    margin-top: -5rem;

    img {
      width: 2.25rem;
    }
  }

  .exchange-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .red-dot {
    background-color: #fc5c50;
    position: absolute;
    top: 1.05rem;
    right: 1.3rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }

  @keyframes bell {
    0%, 50% {
      transform: rotate(0deg);
    }
    5%, 15%, 25%, 35%, 45% {
      transform: rotate(1deg);
    }
    10%, 20%, 30%, 40% {
      transform: rotate(-1deg);
    }
  }

  @-webkit-keyframes bell {
    0%, 50% {
      transform: rotate(0deg);
    }
    5%, 15%, 25%, 35%, 45% {
      transform: rotate(1deg);
    }
    10%, 20%, 30%, 40% {
      transform: rotate(-1deg);
    }
  }
}

