.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #008E72;

  .top-logo {
    img {
      width: 3.56rem;
      margin: 1rem auto 0;
    }
  }

  .login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #008E72;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1; /* Remaining space for login-signup */

    .mid-logo {
      img {
        width: 9.1rem;
        margin: 1.1rem 0 2rem;
      }
    }

    .buttons {
      .kakaobtn {
        display: flex;
        justify-content: center;
        transition: background-color 0.3s;
        margin: 7.93rem 0 2.15rem 0;

        img {
          height: 50px;
          border-radius: 2rem;
        }
      }
    }

    .animation-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;
      width: 215px;
      height: 215px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: none; /* Initially hidden */
      }

      .magictime {
        opacity: 1;
      }

      .shine {
        animation: shine 2s infinite;
      }
    }
  }

  .bottom-logo {
    img {
      width: 100%;
      height: auto;
      margin-top: 0.15rem;
    }
  }
}

@keyframes shine {
  0% {
    filter: saturate(150%) drop-shadow(#fff 0px 0px 0px);
  }

  50% {
    filter: saturate(200%) drop-shadow(#fff 0px 0px 5px);
  }

  100% {
    filter: saturate(150%) drop-shadow(#fff 0px 0px 0px);
  }
}

@-webkit-keyframes shine {
  0% {
    filter: brightness(1.5) saturate(150%) drop-shadow(#fff 0px 0px 0px);
  }

  50% {
    filter: brightness(2) saturate(200%) drop-shadow(#fff 0px 0px 5px);
  }

  100% {
    filter: brightness(1.5) saturate(150%) drop-shadow(#fff 0px 0px 0px);
  }
}
