.menu-bar {
  display: flex;
  justify-content: space-around;
  padding: 0 0.2rem 1rem 0;
  background-color: rgba(255, 255, 255, 0.9);
  /* 투명도를 높여 배경색을 약간 투명하게 설정 */
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 1rem;
  /* 윗부분 왼쪽 모서리만 둥글게 */
  border-top-right-radius: 1rem;
  /* 윗부분 오른쪽 모서리만 둥글게 */
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
  /* 그림자의 크기와 투명도를 조절하여 입체감을 높임 */
  backdrop-filter: blur(10px);
  /* 배경을 블러 처리하여 투명도 효과를 더욱 강조 */

  .menu-item {
    font-size: 24px;
    cursor: pointer;
  }

  .menu-item img {
    transition: all 0.3s ease;
  }

  .menu-item.home img:hover {
    content: url("../../assets/images/menubar/h_home.png");
    margin-top: 0.25rem !important;
  }

  .menu-item.qr img:hover {
    content: url("../../assets/images/menubar/h_qrcode.png");
    margin-top: 0.28rem !important;
  }

  .menu-item.service img:hover {
    content: url("../../assets/images/menubar/h_service.png");
    margin-top: 0.25rem !important;
  }

  .menu-item.user img:hover {
    content: url("../../assets/images/menubar/h_my.png");
    width: 2.5rem !important;
    margin-top: 0.25rem !important;
  }
}