.menu-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ccc;
  }
  
  .menu-item {
    font-size: 24px;
    cursor: pointer;
  }
  